
body{
    background-color: rgb(17, 17, 17);
    opacity:0.8;
}
.ttt{
    text-align: center;
    font-size: 40px;
    font-style: italic;
    font: bolder;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
}
.kiki{
    background-repeat: no-repeat;
    background-size: cover;
    text-decoration: none;
    
}
.nav{
    text-decoration: none;
    padding: 7px;
    margin: 5px;
}
.travel{
    margin: 20px;
    padding: 50px;
}
.row{
    padding-top: 15px;
}
.yes{
    padding: none;
}

   

