body{
    background: url('assets/conifertrees-800x449.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    
}
.Travel{
    position: relative;
    top: 100px;
    padding: 2px;
    margin: 2px;
}
.Discover{
    position: relative;
    top: 90px;
    padding: 2px;
    margin: 2px;
}
.pictures{
    display: flex;
    gap: 20px;
    position: relative;
    left: 500px;
    bottom: 40px;
}